{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle da Rádio</title>
    <link rel="stylesheet" href="{% static 'css/radialista.css' %}">
</head>

<body>
    <div class="header-painel">
        <div class="logo-painel">
            <img src="{% static 'img/logoo.png' %}" alt="Logo Rádio">
        </div>
        <h1>🔒 Painel de Controle ({{ user.username }})</h1>

        <div class="painel-nav">
            <a href="{% url 'radiomaffei:home' %}">Ver Site</a>

            <form style="display: inline;" method="POST" action="{% url 'admin:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-logout">Sair ({{ user.username }})</button>
            </form>
        </div>
    </div>

    <div class="container-painel">

        <div class="card card-controles">

            <section class="secao controles-ao-vivo">
                <h2>🎙️ Controles Ao Vivo</h2>
                <div class="botoes-ao-vivo" id="live-controls">
                    <button class="btn btn-iniciar" id="start-stream-button">Iniciar - Ao Vivo</button>
                    <button class="btn btn-parar" id="stop-stream-button" disabled>Parar Transmissão</button>
                </div>
                <p id="status-message" class="status-mensagem"></p>
            </section>

            <section class="secao enviar-musica">
                <h2>🎵 Enviar Música</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-adicionar">Adicionar à playlist</button>
                </form>
            </section>
        </div>

        <div class="card card-playlist">
            <h2>Playlist Atual</h2>
            <div class="playlist-status">
                <ul>
                    {% for musica in musicas %}
                    <li>
                        <span style="font-weight: bold;">{{ musica.titulo }}</span>

                        <form method="POST" action="{% url 'radiomaffei:deletar_musica' musica_id=musica.id %}"
                            style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-deletar">Deletar</button>
                        </form>
                    </li>
                    {% empty %}
                    <p>Nenhuma música.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% include "audio_script.html" %}

</body>

</html>